*{
	padding: 0px;
	margin: 0px;
}
body{
    background-color: rgba(250,250,250,255);
}
.container{
    width: 100vw;
    height: 98vh;
    background-color: rgba(250,250,250,255);
    
    border-color: solid black;
    
}

.container p, h1{
    color: white;
}
   
.content{
width: 100%;
height: 90%; 
background-color: rgba(250,250,250,255);
 background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/hero.png');
 background-size: 100% 100%;

}

.logo{
    margin-top: 30px;
    color: white;
}

nav {
    display: flex;
    gap: 30px;   
    margin-left: -20px;
    margin-top: 35px;
}

nav a{
    color: white;
}

.login{
display: flex;
gap: 30px;
margin-right: 140px;
margin-top: 40px;

}

.login a{
    color: white;    
}

nav ul li{
    padding: 20px;
    color: white;
}

.navbar{
display: flex;
justify-content: space-around;

}

.button0{
    border-radius: 5px;
    background-color: rgba(35,166,240,255);
    border-color: transparent;
    padding: 5px 5px 5px 5px;
    margin-top: -10px;
    color: white;
}

.welcome{
    text-align: center;
    margin-top: 80px;
}
.welcome h1{
    font-weight: bolder;
    font-size: 50px;
    color: white;
}
.button1, .button2{
    border-radius: 100px;
    color: white;  
    height: 50px; 
    width: 150px;
}

.button1{
    background-color:rgba(35,166,240,255) ;
    border-color: transparent;
}

.button2{
    background-color: transparent;
    border-color: white;
}

.section1{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    height: 180px;
    
}

.section1 span{
    font-weight: bolder;
    font-size: larger;
}
.icon1{
    font-size: 60px;
    color:rgb(30,144,255) ;
}

.icon2{
    font-size: 60px;
    color: white ;
}

.peace, .life{
    background-color: white;
    padding: 30px;
   
}

.peace p, .life p{
    color: black;
}

.sat{
    background-color: rgba(35,166,240,255);
    padding: 30px;
    color: white;
}

.section2{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 60px;
    background-color: white;
    text-align: center;

    margin-top: 100px;
}

.icon3{
    font-size: 60px;
    color: rgba(35,166,240,255);;
}

.mind, .set, .satisfaction{
    align-items: center;
}

.industry{
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
.industry p{
    color: black;

}
.profiles{
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 80px;
}

.profiles p{
    color: black;
}
.icon4, .icon5{
    color: rgba(243,205,3,255);
}

.woman1, .man, .woman2{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
} 

.profileimg{
    width: 100px;
}

.logos{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 100px;
}

.logo{
    width: 90px;
    height: 50px;
}

.container_subscribe{
    padding: 30px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        to right,
        rgba(4,70,136,255),
        rgba(208,21,137,255)
    );
    padding: 20px 40px;
    color: white;
    justify-content: space-between;
    align-items: center;
}


.subinput{
    background-color: white;
    display: flex;
    gap: 0;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}

.subinput input {
    border: none;
    outline: none;
    padding: 0px 10px;
    height: 100%;
}

.subinput button {
    border: none;
    height: 100%;
    padding: 10px;
    background-color: rgba(35,166,240,255);
}

.pricing{
    margin-top: 100px;
    text-align: center;
}
.pricing p{
    
    color: grey;

}
.pricing h1{
    color: black;
}

.plans p, h1{
    color: black;
}

.plans{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.features{
    display: flex;
    gap: 20px;
}

.feature1{
    text-align: left;
}

.checkmark{
    color: rgba(45,192,113,255);
    font-size: 30px;
    
}

.checkmark2{
    color: rgba(189,189,189,255);
    font-size: 30px;
    
}

.free-premium{
    background-color: white;
    border: solid rgba(35,166,240,255) 2px;
    border-radius: 10px;
    padding:50px;
    margin-top: 2.5%;
    text-align: center;
}

.standard{
    padding: 50px;
    background-color: rgba(37,43,66,255);
    text-align: center;
    border-radius: 10px;
      
}

.standard p, .standard h1{
    color: white;
}

.amount{
    display:flex;
    justify-content: center;
    gap:10px
    
}

.per{
    text-align: left;
}

.amount h1, .amount p{
    color: rgba(35,166,240,255);
}

.trybutton{
    margin-top: 50px;
    color: white;
    background-color: rgba(35,166,240,255);
    border-color: transparent;
    border-radius: 5px;
    width: 200px;
    height: 50px;

}
.background{
    background-color: rgba(37,43,66,255);
    height: 120%;
}

.maps-container{
    margin-top: 100px;
    display: flex;
    margin-left: 100px;
    gap: 300px;
    padding: 50px;
    
}

.details h1{
    color: white;
}

.img-map{
    width: 400px;
}

.appointment{
    display: flex;
    justify-content: center;
     margin-top: 80px;
     width: 100%;
}

.appointment-form{
    background-color: white;
    padding: 30px;
    width: 40%;
}
.appointment-form h1{
    text-align: center;
}
.appointment-form-details{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.input-book{
    background-color: rgba(249,249,249,255);
    width: 90%;
    padding: 15px;
    border-color: transparent;
    border-radius: 5px;
    color: gray;
    
}
.input-book2{
    background-color: rgba(249,249,249,255);
    width: 96%;
    padding: 15px;
    border-color: transparent;
    border-radius: 5px;
    color: gray;
    
}

.appointment-img{
   height: 100%;
   width: 250px;
}

.button-appointment{
    background-color: rgba(35,166,240,255);
    border-color: transparent;
    margin-top: 30px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: white;
}

.appointment-icon{
    display: flex;
    background-color: rgba(249,249,249,255);
    border-color: transparent;
}

.contact{
    margin-top: 400px;
    display: flex;
    justify-content: space-around;
    margin-left: -40px;
   
}
.consult p{
    color: gray;
}
.button-contact{
    color: white;
    background-color: rgba(35,166,240,255);
    border-color: transparent;
    border-radius: 5px;
    width: 130%;
    padding: 10px;
    margin-top: 10px
}

.info{
    margin-top: 50px;
    display: flex;
    background-color: white;
    gap: 70px;
    padding: 40px;
}
.company{
    margin-left: 160px;
}

.info p{
    color: black;
}

.phone, .location, .mail{
    display: flex;
    gap: 10px;
}

.icon-contact{
    color:rgba(35,166,240,255) ;
    
}

.footer{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}
.footer-info{
    margin-left: -50px;
}
.footer-info p{
    color: black;
}

.socials{
    display: flex;
    gap: 20px;
}
.socials-logo{
    color: rgba(35,166,240,255);
}